@model IEnumerable<Telecon.Models.Product>
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Home";
}

<body>

    <div class="Lista">
        <img onclick="CarouselLink()" id="carousel-bg" src="~/Style/Media/Security.jpg" />
        <div class="BloqueTexto">
            <h2 id="carousel-text"><b>SECURITY</b></h2>
        </div>
    </div>

    <p id="Latest">LATEST PRODUCTS</p>

    <div class="Cabecera">
        @{
            int counter = 1;
            string fileName = "";
            foreach (var item in Model)
            {
                fileName = Path.GetFileName(item.mainImage);
                if (counter == 1)
                {
                    <div class="Card1">
                        <div id="product-image-1" data-value="@item.ID" onclick="ProductInfo(this);" class="product-image" style='background-image: url("../../Style/Media/Product_Images/@fileName");'>

                        </div>
                        <div class="latest-info">
                            <p>@item.name</p>
                            <p>@item.price.ToString("#,###.##") BsS</p>
                        </div>
                    </div>
                }
                if (counter == 2)
                {
                    <div class="Card2">
                        <div id="product-image-2" data-value="@item.ID" onclick="ProductInfo(this);" class="product-image" style='background-image: url("../../Style/Media/Product_Images/@fileName");'>

                        </div>
                        <div class="latest-info">
                            <p>@item.name</p>
                            <p>@item.price.ToString("#,###.##") BsS</p>
                        </div>
                    </div>
                }
                if (counter == 3)
                {
                    <div class="Card3">
                        <div id="product-image-3" data-value="@item.ID" onclick="ProductInfo(this);" class="product-image" style='background-image: url("../../Style/Media/Product_Images/@fileName");'>

                        </div>
                        <div class="latest-info">
                            <p>@item.name</p>
                            <p>@item.price.ToString("#,###.##") BsS</p>
                        </div>
                    </div>
                }
                if (counter == 4)
                {
                    <div class="Card4">
                        <div id="product-image-4" data-value="@item.ID" onclick="ProductInfo(this);" class="product-image" style='background-image: url("../../Style/Media/Product_Images/@fileName");'>

                        </div>
                        <div class="latest-info">
                            <p>@item.name</p>
                            <p>@item.price.ToString("#,###.##") BsS</p>
                        </div>
                    </div>
                }
                if (counter == 5)
                {
                    <div class="Card5">
                        <div id="product-image-5" data-value="@item.ID" onclick="ProductInfo(this);" class="product-image" style='background-image: url("../../Style/Media/Product_Images/@fileName");'>

                        </div>
                        <div class="latest-info">
                            <p>@item.name</p>
                            <p>@item.price.ToString("#,###.##") BsS</p>
                        </div>
                    </div>
                }
                counter++;
            }
        }
    </div>
</body>





<script type="text/javascript">
    document.getElementById("carousel-text").innerHTML = "SECURITY";
    var image = document.getElementById("carousel-bg");
    var currentPos = 0;
    var images = ["/Style/Media/Security.jpg", "/Style/Media/cercos-electricos.png", "/Style/Media/portones-electricos.jpg", "/Style/Media/articulos-papeleria.jpg", "/Style/Media/Contactanos.jpg"];

    function CarouselLink() {
        var texto = document.getElementById("carousel-text").innerHTML;

        if (texto.toUpperCase() == "SECURITY") {
            window.location.href = "/en/cctv";
        }
        if (texto.toUpperCase() == "ELECTRIC FENCES") {
            window.location.href = "/en/electricfences";
        }
        if (texto.toUpperCase() == "AUTOMATIC GATES") {
            window.location.href = "/en/sliding-gates";
        }
        if (texto.toUpperCase() == "PRODUCTS") {
            window.location.href = "/en/products";
        }
        if (texto.toUpperCase() == "CONTACT US") {
            window.location.href = "/en/contact";
        }
    }


    function imageslide() {

        $('#carousel-bg').fadeOut(1500, function () {
            $('#carousel-bg').attr('src', images[currentPos]).fadeIn();
            if (currentPos == 0) document.getElementById("carousel-text").innerHTML = "SECURITY";
            if (currentPos == 1) document.getElementById("carousel-text").innerHTML = "ELECTRIC FENCES";
            if (currentPos == 2) document.getElementById("carousel-text").innerHTML = "AUTOMATIC GATES";
            if (currentPos == 3) document.getElementById("carousel-text").innerHTML = "PRODUCTS";
            if (currentPos == 4) document.getElementById("carousel-text").innerHTML = "CONTACT US";
        });
        currentPos++;
        if (currentPos >= images.length) {
            currentPos = 0;
        }
    }

    setInterval(imageslide, 9000);

    function ProductInfo(id) {
        window.location.href = "/en/product/" + id.getAttribute('data-value');
    }

    function Español() {
        window.location.href = "/es/inicio";
    }

    function English() {
        window.location.href = "/en/home";
    }

</script>

