@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Change password";
    string userName = User.Identity.Name;
}

<div class="CambioContraseña">
    @using (@Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "change-password-form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <h2>CHANGE PASSWORD - @userName</h2>
        <hr />
        <p>Old password</p>
        @Html.Password("vieja_contraseña", "", new { id = "vieja_contraseña", @class = "form-control", @value = "", required = "required" })
        <p>New password</p>
        @Html.Password("nueva_contraseña", "", new { id = "nueva_contraseña", @class = "form-control", @value = "", required = "required" })
        <p>Repeat new password</p>
        @Html.Password("repetir_contraseña", "", new { id = "repetir_contraseña", @class = "form-control", @value = "", required = "required" })
        <button type="submit" onclick="return ChangePassword();">ACCEPT</button>
        <button type="reset">RESET</button>
    }
    
</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var timer = null;

    function ChangePassword() {

        var oldpass = document.getElementById("vieja_contraseña").value;
        var newpass = document.getElementById("nueva_contraseña").value;
        var repeat = document.getElementById("repetir_contraseña").value;
        var divtext = document.getElementById("validaciones-contenido");
        var validaciones = "";

        var re = new RegExp("\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*");


        if (oldpass.trim() == "" || oldpass == null) {
            validaciones += "<p>You must type your old password.</p>\n"
        }
        if (oldpass.trim() != "" && oldpass.length < 12) {
            validaciones += "<p>The old password must contain at least 12 characters.</p>\n"
        }
        if (oldpass.trim() != "" && oldpass.length >= 12 && re.test(oldpass) == false) {
            validaciones += "<p>The old password must contain both letters and numbers.</p>\n"
        }

        if (newpass.trim() == "" || newpass == null) {
            validaciones += "<p>You must type your new password.</p>\n"
        }
        if (newpass.trim() != "" && newpass.length < 12) {
            validaciones += "<p>The new password must contain at least 12 characters.</p>\n"
        }
        if (newpass.trim() != "" && newpass.length >= 12 && re.test(newpass) == false) {
            validaciones += "<p>The new password must contain both letters and numbers.</p>\n"
        }
        if (newpass.trim() == oldpass.trim() && newpass.trim() != "" || newpass.trim() == oldpass.trim() && oldpass.trim() != "") {
            validaciones += "<p>The old and new password cannot be the same.</p>\n"
        }

        if (repeat.trim() == "" && newpass.trim() != "" || repeat == null && newpass.trim() != null) {
            validaciones += "<p>You must repeat your new password.</p>\n"
        }
        if (repeat.trim() != newpass.trim()) {
            validaciones += "<p>The passwords in the repeat and new password fields must match.</p>\n"
        }



        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('.modal-header').css('background-color', 'red');
            $('.modal-footer').css('background-color', 'red');
            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 6500); // <-- time in milliseconds
            return false;
        } else {
            ValidatePass();
            return false;
        }
    }

    function Español() {
        window.location.href = "/es/perfil/cambiarcontraseña";
    }

    function English() {
        window.location.href = "/en/profile/changepassword";
    }

</script>