@model Telecon.Models.User
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Create User";
}




<div class="PanelCrear">
    @using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <h4 id="TituloNombreUsuario">Username</h4>
        @Html.TextBoxFor(m => m.username, new { id = "CampoNombreUsuario", @value = "", maxlength = "24", required = "required" })
        <h4 id="TituloNombre">Names</h4>
        @Html.TextBoxFor(m => m.firstnames, new { id = "CampoNombre", @value = "", maxlength = "50", required = "required" })
        <h4 id="TituloApellidos">Lastnames</h4>
        @Html.TextBoxFor(m => m.lastnames, new { id = "CampoApellidos", @value = "", maxlength = "50", required = "required" })
        <h4 id="TituloCorreo">E-mail</h4>
        @Html.TextBoxFor(m => m.email, new { id = "CampoCorreo", @value = "", maxlength = "50", required = "required" })
        <h4 id="TituloEdad">Age</h4>
        @Html.TextBoxFor(m => m.age, new { id = "CampoEdad", @value = "", maxlength = "2", required = "required" })
        <h4 id="TituloDireccion">Address</h4>
        @Html.TextBoxFor(m => m.address, new { id = "CampoDireccion", @value = "", maxlength = "128", required = "required" })
        <h4 id="TituloTelefono">Phone Number</h4>
        @Html.TextBoxFor(m => m.number, new { id = "CampoTelefono", maxlength = "50", @value = "" })
        <h4 id="TituloAdmin">Admin Privileges</h4>
        <label id="PAdmin" class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <button type="button" onclick="return CreateUser();">CREATE</button>
        <button id="BotonBorrar" type="reset">RESET</button>
    }
    

    <div class="AvatarImg"></div>

    <label id="BuscarImagen" for="files" class="btn btn-primary">Choose Image</label>
    <input id="files" accept="image/*" style="visibility:hidden;" type="file" name="myFileSelect">
</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <div id="validaciones-contenido" class="modal-body">


        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    var timer = null;

    function CreateUser() {

        // Datos del usuario
        var usuario = document.getElementById("CampoNombreUsuario").value,
            nombres = document.getElementById("CampoNombre").value,
            apellidos = document.getElementById("CampoApellidos").value,
            correo = document.getElementById("CampoCorreo").value,
            edad = document.getElementById("CampoEdad").value,
            direccion = document.getElementById("CampoDireccion").value,
            telefono = document.getElementById("CampoTelefono").value;




        var divtext = document.getElementById("validaciones-contenido");
        var validaciones = "";
        var reuser = new RegExp("^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$");
        var numeros = new RegExp("^[0-9]+$");
        var letras = new RegExp("^[-+0-9\\s]+$");

        var renames = new RegExp("^[a-zA-Z\\s]+$");

        if (usuario.trim() == "" || usuario == null) {
            validaciones += "<p>You must type an username.</p>\n"
        }
        if (usuario.trim() != "" && reuser.test(usuario) == false) {
            validaciones += "<p>The username field only allows alphanumeric characters.</p>\n"
        }
        if (usuario.trim() != "" && usuario.length < 3) {
            validaciones += "<p>The username must have at least 3 characters.</p>\n"
        }

        if (nombres.trim() == "" || nombres == null) {
            validaciones += "<p>You must type a firstname.</p>\n"
        }
        if (nombres.trim() != "" && renames.test(nombres) == false) {
            validaciones += "<p>The firstname field only allows letters and spaces.</p>\n"
        }
        if (nombres.trim() != "" && nombres.length < 3) {
            validaciones += "<p>The firstname must contain at least 3 characters.</p>\n"
        }

        if (apellidos.trim() == "" || apellidos == null) {
            validaciones += "<p>You must type a lastname.</p>\n"
        }
        if (apellidos.trim() != "" && renames.test(apellidos) == false) {
            validaciones += "<p>The lastname field only allows letters and spaces.</p>\n"
        }
        if (apellidos.trim() != "" && apellidos.length < 2) {
            validaciones += "<p>The lastname must contain at least 2 characters.</p>\n"
        }

        if (correo.trim() == "" || correo == null) {
            validaciones += "<p>You must type an e-mail.</p>\n"
        }
        if (correo.trim() != "" && !correo.includes("@@")) {
            validaciones += "<p>The e-mail must contain the &#64; symbol.</p>\n"
        }
        if (correo.trim() != "" && correo.length < 6) {
            validaciones += "<p>The e-mail must contain at least 6 characters.</p>\n"
        }

        if (edad.trim() == "" || edad == null) {
            validaciones += "<p>You must type the user's age.</p>\n"
        }
        if (edad.trim() != "" && numeros.test(edad) == false) {
            validaciones += "<p>The age field only allows numbers.</p>\n"
            document.getElementById("CampoEdad").value = "";
        }
        if (edad.trim() != "" && edad < 15) {
            validaciones += "<p>The user must be at least 15 years old.</p>\n"
        }

        if (direccion.trim() == "" || direccion == null) {
            validaciones += "<p>You must type the user's address.</p>\n"
        }
        if (direccion.trim() != "" && direccion.length < 4) {
            validaciones += "<p>The address field must contain at least 4 characters.</p>\n"
        }

        if (telefono.trim() != "" && letras.test(telefono) == false) {
            validaciones += "<p>The phone number field only allows numbers and the symbols + -</p>\n"
        }



        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 5000); // <-- time in milliseconds
            return false;
        } else {
            return true;
        }


    }


    $('#files').change(function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('.AvatarImg').css('background-image', 'url("' + reader.result + '")');
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
        }
    });


    $("#BotonBorrar").click(function () {
        $('.AvatarImg').css('background-image', 'url("/Style/Media/UsuarioPre.png")');
    }
    );

    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');
    });



    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios/crearusuario";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users/createuser";
        });
    });



</script>
