@model Telecon.Models.User
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Edit User";

    var UserID = Url.RequestContext.RouteData.Values["id"];
    string username = Model.username;
    username = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(username.ToLower());
    var path = Model.picturePath;
    var name = Path.GetFileName(path);
    var picpath = "";

    if (path.Length < 5)
    {
        picpath = "UsuarioPre.png";
    }
    if (path.Length > 5)
    {
        picpath = "User_Images/" + name;
    }
}

<h2 id="EditTitle">EDIT USER - @username </h2>
@using (@Html.BeginForm("Edit", "Users", FormMethod.Post, new { @id = "edit-user-form", autocomplete = "off", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="EditarFoto">
        <h2>PROFILE AVATAR</h2>
        <hr />
        <img id="EditImage" class="img-responsive img-thumbnail" src="~/Style/Media/@picpath" />

        <label id="EditarImagen" for="file" class="btn btn-primary">Choose Image</label>
        <input id="file" accept="image/*" style="visibility:hidden;" type="file" name="uploadFile">
    </div>

    <div class="EditarCargo">
        <h2><b>PRIVILEGES</b></h2>
        <hr />
        @if (Model.admin == true)
        {
            <input id="RankCheck" type="checkbox" class="checkbox" name="IsAdmin" value="true" checked>
        }
        @if (Model.admin == false)
        {
            <input id="RankCheck" type="checkbox" class="checkbox" name="IsAdmin" value="true">
        }

        <p>ADMIN</p>
    </div>

    <div class="PanelEditar">
        <table class="TablaEditar" border="1">
            <tr>
                <td colspan="2" id="EditHeader"><p>USER INFO</p></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>USERNAME</p></td>
                <td> @Html.TextBoxFor(m => m.username, new { @id = "username-text", @class = "form-control", @value = "", maxlength = "24", required = "required" })</td>
            </tr>
            <tr>
                <td class="EditarCell"><p>NAMES</p></td>
                <td> @Html.TextBoxFor(m => m.firstnames, new { @id = "firstnames-text", @class = "form-control", @value = "", maxlength = "50", required = "required" })</td>
            </tr>
            <tr>
                <td class="EditarCell"><p>LASTNAMES</p></td>
                <td> @Html.TextBoxFor(m => m.lastnames, new { @id = "lastnames-text", @class = "form-control", @value = "", maxlength = "50", required = "required" })</td>
            </tr>
            <tr>
                <td class="EditarCell"><p>AGE</p></td>
                <td> @Html.TextBoxFor(m => m.age, new { @id = "age-text", @class = "form-control", @value = "", maxlength = "2", required = "required" })</td>
            </tr>
            <tr>
                <td class="EditarCell"><p>E-MAIL</p></td>
                <td> @Html.TextBoxFor(m => m.email, new { @id = "email-text", @class = "form-control", @value = "", maxlength = "50", required = "required" })</td>
            </tr>
            <tr>
                <td class="EditarCell"><p>PHONE</p></td>
                <td>@Html.TextBoxFor(m => m.number, new { @id = "phone-text", @class = "form-control", @value = "", maxlength = "50" })</td>
            </tr>
            <tr></tr>
        </table>

        <button onclick="return EditUser();" type="submit">UPDATE</button>
        <button type="button" id="BtnRegresar">RETURN</button>
    </div>
}


<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var timer = null;

    function VerifyUser() {

        var user_id = document.getElementById("username-text").value;
        var divtext = document.getElementById("validaciones-contenido");

        $.ajax({

            type: "POST",
            url: "/json/username",
            dataType: "json",
            data: AddAntiForgeryToken({ userName: user_id }),
            success: function (data) {
                if (data == true) {
                    VerifyID();
                    return true
                }
                if (data == false) {
                    return VerifyMail();
                }
            },
            error: function (data) {
                alert("failure");
                return false;
            }
        });
        return false;
    }

    function VerifyID() {
        var user_id = document.getElementById("username-text").value;
        var divtext = document.getElementById("validaciones-contenido");

        $.ajax({

            type: "POST",
            url: "/json/id",
            dataType: "json",
            data: AddAntiForgeryToken({ userName: user_id }),
            success: function (data) {
                if (data != @Model.ID) {
                    divtext.innerHTML = "<p>This username is already registered.</p>\n";
                    $('#validacion').modal('show');
                    window.clearTimeout(timer);
                    timer = setTimeout(function () {
                        $("#cerrar-validacion").click();
                    }, 5000); // <-- time in milliseconds
                    return false
                }
                if (data == @Model.ID) {
                    return VerifyMail();
                }
            },
            error: function (data) {
                alert("failure");
                return false;
            }
        });
        return false;
    }

     function VerifyMail() {

        var correo = document.getElementById("email-text").value;
        var divtext = document.getElementById("validaciones-contenido");

        $.ajax({

            type: "POST",
            url: "/json/email",
            dataType: "json",
            data: AddAntiForgeryToken({ email: correo }),
            success: function (data) {                
                if (data.emailname != null && data.emailid != @Model.ID) {
                    divtext.innerHTML = "<p>This e-mail is already registered to an account.</p>\n";
                    $('#validacion').modal('show');
                    window.clearTimeout(timer);
                    timer = setTimeout(function () {
                        $("#cerrar-validacion").click();
                    }, 5000); // <-- time in milliseconds
                    return false
                }
                else {
                    divtext.innerHTML = "<p>The user account has been updated successfully.</p>\n";
                    $('.modal-header').css('background-color', 'blue');
                    $('.modal-footer').css('background-color', 'blue');
                    $('#validacion').modal('show');
                    window.clearTimeout(timer);
                    timer = setTimeout(function () {
                        $("#cerrar-validacion").click();
                        document.getElementById("edit-user-form").submit();
                    }, 2000); // <-- time in milliseconds
                    return true;
                }
               
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
                return false;
            }
        });
        return false;
    }

    function EditUser() {

        // Datos del usuario
        var usuario = document.getElementById("username-text").value,
            nombres = document.getElementById("firstnames-text").value,
            apellidos = document.getElementById("lastnames-text").value,
            correo = document.getElementById("email-text").value,
            edad = document.getElementById("age-text").value,
            telefono = document.getElementById("phone-text").value;




        var divtext = document.getElementById("validaciones-contenido");
        var validaciones = "";
        var reuser = new RegExp("^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$");
        var numeros = new RegExp("^[0-9]+$");
        var letras = new RegExp("^[-+0-9\\s]+$");

        var renames = new RegExp("^[a-zA-Z\\s]+$");

        if (usuario.trim() == "" || usuario == null) {
            validaciones += "<p>You must type an username.</p>\n"
        }
        if (usuario.trim() != "" && reuser.test(usuario) == false) {
            validaciones += "<p>The username field only allows alphanumeric characters.</p>\n"
        }
        if (usuario.trim() != "" && usuario.length < 3) {
            validaciones += "<p>The username must contain at least 3 characters.</p>\n"
        }

        if (nombres.trim() == "" || nombres == null) {
            validaciones += "<p>You must type a firstname.</p>\n"
        }
        if (nombres.trim() != "" && renames.test(nombres) == false) {
            validaciones += "<p>The firstname field only allows letters and spaces.</p>\n"
        }
        if (nombres.trim() != "" && nombres.length < 3) {
            validaciones += "<p>The firstname must contain at least 3 characters.</p>\n"
        }

        if (apellidos.trim() == "" || apellidos == null) {
            validaciones += "<p>You must type a lastname.</p>\n"
        }
        if (apellidos.trim() != "" && renames.test(apellidos) == false) {
            validaciones += "<p>The lastname field only allows letters and spaces.</p>\n"
        }
        if (apellidos.trim() != "" && apellidos.length < 2) {
            validaciones += "<p>The lastname must contain at least 2 characters.</p>\n"
        }

        if (edad.trim() == "" || edad == null) {
            validaciones += "<p>You must type the user's age.</p>\n"
        }
        if (edad.trim() != "" && numeros.test(edad) == false) {
            validaciones += "<p>The age field only allows numbers.</p>\n"
            document.getElementById("age-text").value = "";
        }
        if (edad.trim() != "" && edad < 15) {
            validaciones += "<p>The user must be at least 15 years old.</p>\n"
        }

        if (correo.trim() == "" || correo == null) {
            validaciones += "<p>You must type an e-mail.</p>\n"
        }
        if (correo.trim() != "" && !correo.includes("@@")) {
            validaciones += "<p>The e-mail must contain the &#64; symbol.</p>\n"
        }
        if (correo.trim() != "" && correo.length < 6) {
            validaciones += "<p>The e-mail must contain at least 6 characters.</p>\n"
        }

        if (telefono.trim() != "" && letras.test(telefono) == false) {
            validaciones += "<p>The phone field only allows numbers and the + - symbols.</p>\n"
        }

        
        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 5000); // <-- time in milliseconds
            return false;
        } else {
            return VerifyUser();
        }
        
    }


    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');

    });

    $('#file').change(function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('#EditImage').attr('src', '' + reader.result + '');
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
        }
    });

    $(function () {
        $("#BtnRegresar").click(function () {
            window.location.href = "/en/admin/users";
        });
    });

     $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios/editarusuario/" + @UserID;
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users/edituser/" + @UserID;
        });
    });


</script>