@model Telecon.Models.User
@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Eliminar Usuario";

    string rango = "";
    var UserID = Url.RequestContext.RouteData.Values["id"];
    string username = Model.username;
    username = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(username.ToLower());
    var path = Model.picturePath;
    var name = Path.GetFileName(path);
    var picpath = "";

    if (Model.admin == true) {
        rango = "Administrador";
    }
    if (Model.admin == false) {
        rango = "Usuario";
    }

    if (path.Length < 5)
    {
        picpath = "UsuarioPre.png";
    }
    if (path.Length > 5)
    {
        picpath = "User_Images/" + name;
    }
}

<h2 id="DeleteTitle">ELIMINAR USUARIO - @username </h2>
@using (@Html.BeginForm("Delete", "Users", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="EditarFoto">
        <h2>FOTO DE PERFIL</h2>
        <hr />
        <img id="DeleteImage" class="img-responsive img-thumbnail" src="~/Style/Media/@picpath" />
    </div>

    <div class="EliminarCargo">
        <h2><b>PRIVILEGIOS</b></h2>
        <hr />
        <p>@rango</p>
    </div>

    <div class="PanelEliminar">
        <table class="TablaEditar" border="1">
            <tr>
                <td colspan="2" id="EditHeader">INFORMACIÓN DE USUARIO</td>
            </tr>
            <tr>
                <td class="EditarCell">NOMBRE DE USUARIO</td>
                <td><p>@username</p></td>
            </tr>
            <tr>
                <td class="EditarCell">NOMBRES</td>
                <td><p>@Model.firstnames</p></td>
            </tr>
            <tr>
                <td class="EditarCell">APELLIDOS</td>
                <td><p>@Model.lastnames</p></td>
            </tr>
            <tr>
                <td class="EditarCell">EDAD</td>
                <td><p>@Model.age años</p></td>
            </tr>
            <tr>
                <td class="EditarCell">CORREO</td>
                <td><p>@Model.email</p></td>
            </tr>
            <tr>
                <td class="EditarCell">TELÉFONO</td>
                <td><p>@Model.number</p></td>
            </tr>
            <tr></tr>
        </table>

        <p id="MsgConfirmacion">¿ Esta seguro de que desea eliminar este usuario ?</p>
        <button type="submit" id="BtnSi">SI</button>
        <button type="button" id="BtnNo">NO</button>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');

    });



    $(function () {
        $("#BtnNo").click(function () {
            window.location.href = "/es/admin/usuarios";
        });
    });

    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios/eliminarusuario/@UserID";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users/deleteuser/@UserID";
        });
    });

</script>


