@model Telecon.Models.User
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Update Profile";
    string userName = User.Identity.Name;
}

<div class="ActualizarPerfil">
    <h2>UPDATE PROFILE - @userName</h2>
    <hr />
   
        @using (@Html.BeginForm("UpdateProfile", "Users", FormMethod.Post, new { id = "update-profile-form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <th>Names</th>
                    <td> @Html.TextBoxFor(m => m.firstnames, new { @id = "firstnames-text", @class = "form-control", @value = Model.firstnames, maxlength = "50", required = "required" })</td>
                </tr>
                <tr>
                    <th>Lastnames</th>
                    <td> @Html.TextBoxFor(m => m.lastnames, new { @id = "lastnames-text", @class = "form-control", @value = Model.lastnames, maxlength = "50", required = "required" })</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td> @Html.TextBoxFor(m => m.email, new { @id = "email-text", @class = "form-control", @value = Model.email, maxlength = "50", required = "required" })</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td> @Html.TextBoxFor(m => m.age, new { @id = "age-text", @class = "form-control", @value = Model.age, maxlength = "2", required = "required" })</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Html.TextBoxFor(m => m.address, new { @id = "address-text", @class = "form-control", @value = Model.address, maxlength = "128" })</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>@Html.TextBoxFor(m => m.number, new { @id = "phone-text", @class = "form-control", @value = Model.number, maxlength = "50" })</td>
                </tr>
            </table>

            <button type="button" onclick="return UpdateProfile();">UPDATE</button>
            <button type="reset">RESET</button>
        }

    
</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var timer = null;

    function UpdateProfile() {

        // Datos del usuario
        var nombres = document.getElementById("firstnames-text").value,
            apellidos = document.getElementById("lastnames-text").value,
            correo = document.getElementById("email-text").value,
            edad = document.getElementById("age-text").value,
            direccion = document.getElementById("address-text").value,
            telefono = document.getElementById("phone-text").value;


        var divtext = document.getElementById("validaciones-contenido");
        var validaciones = "";
        var reuser = new RegExp("^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$");
        var numeros = new RegExp("^[0-9]+$");
        var letras = new RegExp("^[-+0-9\\s]+$");
        var renames = new RegExp("^[a-zA-Z\\s]+$");


        if (nombres.trim() == "" || nombres == null) {
            validaciones += "<p>You must type a firstname.</p>\n"
        }
        if (nombres.trim() != "" && renames.test(nombres) == false) {
            validaciones += "<p>The firstname field can only contain letters and spaces.</p>\n"
        }
        if (nombres.trim() != "" && nombres.length < 3) {
            validaciones += "<p>The firstname must contain at least 3 characters.</p>\n"
        }

        if (apellidos.trim() == "" || apellidos == null) {
            validaciones += "<p>You must type a lastname.</p>\n"
        }
        if (apellidos.trim() != "" && renames.test(apellidos) == false) {
            validaciones += "<p>The lastname field only allows letters and spaces.</p>\n"
        }
        if (apellidos.trim() != "" && apellidos.length < 2) {
            validaciones += "<p>The lastname field must contain at least 2 characters.</p>\n"
        }

        if (correo.trim() == "" || correo == null) {
            validaciones += "<p>You must type an e-mail.</p>\n"
        }
        if (correo.trim() != "" && !correo.includes("@@")) {
            validaciones += "<p>The e-mail must contain the &#64; symbol.</p>\n"
        }
        if (correo.trim() != "" && correo.length < 6) {
            validaciones += "<p>The e-mail must contain at least 6 characters.</p>\n"
        }

        if (edad.trim() == "" || edad == null) {
            validaciones += "<p>You must type your age.</p>\n"
        }
        if (edad.trim() != "" && numeros.test(edad) == false) {
            validaciones += "<p>The age field only allows numbers.</p>\n"
            document.getElementById("age-text").value = "";
        }
        if (edad.trim() != "" && edad < 15) {
            validaciones += "<p>Your age must be at least 15 years old.</p>\n"
        }

        if (direccion.trim() != "" && direccion.length < 4) {
            validaciones += "<p>The address field must contain at least 4 characters.</p>\n"
        }

        if (telefono.trim() != "" && letras.test(telefono) == false) {
            validaciones += "<p>The phone number field only allows numbers and the + - symbols.</p>\n"
        }

        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('#validacion').modal('show');
            validaciones = "";
            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 5000); // <-- time in milliseconds
            return false;
        } else {
            return VerifyMail();
        }
    }

    function VerifyMail() {

        var correo = document.getElementById("email-text").value;
        var divtext = document.getElementById("validaciones-contenido");

        $.ajax({

            type: "POST",
            url: "/json/email",
            dataType: "json",
            data: AddAntiForgeryToken({ email: correo }),
            success: function (data) {
                
                if (data.emailname != null && data.emailid != @Model.ID) {
                    divtext.innerHTML = "<p>There's already an account registered to this email.</p>\n";
                    $('.modal-header').css('background-color', 'red');
                    $('.modal-footer').css('background-color', 'red');
                    $('#validacion').modal('show');
                    window.clearTimeout(timer);
                    timer = setTimeout(function () {
                        $("#cerrar-validacion").click();
                    }, 5000); // <-- time in milliseconds
                    return false
                }
                else {
                    divtext.innerHTML = "<p>User profile updated.</p>\n";
                    $('.modal-header').css('background-color', 'blue');
                    $('.modal-footer').css('background-color', 'blue');
                    $('#validacion').modal('show');
                    window.clearTimeout(timer);
                    timer = setTimeout(function () {
                        $("#cerrar-validacion").click();
                        document.getElementById("update-profile-form").submit();
                    }, 2000); // <-- time in milliseconds
                    return true;
                }
               
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
             
                return false;
            }
        });
        return false;
    }

     $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/perfil/actualizarperfil";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/profile/updateprofile";
        });
    });
</script>