@model IEnumerable<Telecon.Models.User>
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Users";
}

<div class="PanelBusqueda">
    @using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <p><span class="glyphicon glyphicon-user"></span>   SEARCH</p>
        <hr /><br />
        <h5>User Code</h5>
        @Html.TextBox("searchID", "", new { id = "buscar_codigo", oninput = "return Validacion();", @value = "" })
        <h5>Names & Lastnames</h5>
        @Html.TextBox("searchNames", "", new { id = "buscar_nombre", oninput = "return Validacion();", @value = "" })
        <h5>E-mail</h5>
        @Html.TextBox("searchEmail", "", new { id = "buscar_correo", oninput = "return Validacion();", @value = "" })
        <h5>Phone</h5>
        @Html.TextBox("searchNumber", "", new { id = "buscar_numero", oninput = "return Validacion();", @value = "" })
        <div class="btn-group dropup SearchMenu">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" onclick="OrderUsers(this);"><span class="glyphicon glyphicon-barcode"></span><b>&ensp;ID</b></a></li>
                <li><a href="#" onclick="OrderUsers(this);"><span class="glyphicon glyphicon-user"></span><b>&ensp;Name</b></a></li>
                <li><a href="#" onclick="OrderUsers(this);"><span class="glyphicon glyphicon-envelope"></span><b>&ensp;E-mail</b></a></li>
                <li><a href="#" onclick="OrderUsers(this);"><span class="glyphicon glyphicon-phone"></span><b>&ensp;Phone</b></a></li>
            </ul>
        </div>
        <button type="reset" class="BtnBorrar" onclick="AllUsers();">RESET</button>
    }

</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<h2 id="UsersTitle">TELECON ERICKSON C.A - USERS LIST</h2>

<table class="TablaUsuarios" id="table-users-list" border="0">
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Names</td>
        <td>Lastnames</td>
        <td style="border-bottom-style: solid; width: 15%; padding-top: 1em; padding-bottom: 0.5em; padding-left: 0;">E-mail</td>
        <td style="padding-bottom: 0.5em; border-bottom-style: solid; border-top-style: none;">Phone</td>
        <th colspan="2" style="text-align: center;"><button id="BtnCrear" type="button" onclick="Create();">CREATE USER</button></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.username</td>
        <td>@item.firstnames</td>
        <td>@item.lastnames</td>
        <td>@item.email</td>
        <td>@item.number</td>
        <td><button type="button" value="@item.ID" onclick="EditUser(this);">Edit</button></td>
        <td><button type="button" value="@item.ID" onclick="DeleteUser(this);">Delete</button></td>
    </tr>
    }
</table>



<script type="text/javascript">

    function EditUser(buttonID) {
        window.location.href = "/en/admin/users/edituser/" + buttonID.value;
    }
    function DeleteUser(buttonID) {
        window.location.href = "/en/admin/users/deleteuser/" + buttonID.value;
    }

    function Validacion() {
        var e = document.getElementById('buscar_codigo').value;
        var name = document.getElementById('buscar_nombre').value;
        var userEmail = document.getElementById('buscar_correo').value.trim();
        var phoneNumber = document.getElementById('buscar_numero').value;

        var divtext = document.getElementById("validaciones-contenido");
        var timer = null, searchtimer = null;
        e.onpropertychange = e.oninput; // for IE8
        var re = new RegExp("^[0-9]+$");
        var letters = new RegExp("^[a-zA-Z ]*$");
        var validaciones = "";


        if (re.test(e) == false && e.trim() != "") {
            validaciones += "<p>The user code field only allows integers.</p>";
        }
        if (letters.test(name) == false && name.trim() != "") {
            validaciones += "<p>Los nombres y apellidos solo pueden contener letras y espacios.</p>";
            document.getElementById('buscar_nombre').value = "";
        }

        if (validaciones != "") {
            divtext.innerHTML = validaciones;

            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 2000); // <-- time in milliseconds
            document.getElementById('buscar_codigo').value = "";
            return false;
        } else {
            window.clearTimeout(searchtimer);
            searchtimer = setTimeout(function () {
                if (e.trim() != "") return SearchUserByID();
                if (name.trim() != "") return SearchUserByNames();
                if (userEmail != "") return SearchUserByEmail();
                if (phoneNumber != "") return SearchUserByNumber();
            }, 300); // <-- time in milliseconds
        }

    }
    
    document.getElementById("main-admin-button").style.visibility = "visible";

    function Create() {
        window.location.href = "/en/admin/users/createuser";
    }

    function Español() {
        window.location.href = "/es/admin/usuarios";
    }

    function English() {
        window.location.href = "/en/admin/users";
    }

</script>


