@model IEnumerable<Telecon.Models.User>
@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Usuarios";
}

<div class="PanelBusqueda">
    @using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <p><span class="glyphicon glyphicon-user"></span>   BUSCAR</p>
        <hr /><br />
        <h5>Código de Usuario</h5>
        @Html.TextBox("searchID", "", new { id = "buscar_codigo", oninput = "return Validacion();", @value = "" })
        <h5>Nombres y Apellidos</h5>
        @Html.TextBox("searchNames", "", new { id = "buscar_nombre", oninput = "return Validacion();", @value = "" })
        <h5>Correo</h5>
        @Html.TextBox("searchEmail", "", new { id = "buscar_correo", oninput = "return Validacion();", @value = "" })
        <h5>Teléfono</h5>
        @Html.TextBox("searchNumber", "", new {id = "buscar_numero", oninput = "return Validacion();", @value = "" })
        <div class="btn-group dropup SearchMenu">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Ordenar por
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="sort-users-list">
                <li><a href="#" onclick="OrdenarUsuariosPor(this);"><span class="glyphicon glyphicon-barcode"></span><b>&ensp;Código</b></a></li>
                <li><a href="#" onclick="OrdenarUsuariosPor(this);"><span class="glyphicon glyphicon-user"></span><b>&ensp;Nombre</b></a></li>
                <li><a href="#" onclick="OrdenarUsuariosPor(this);"><span class="glyphicon glyphicon-envelope"></span><b>&ensp;Correo</b></a></li>
                <li><a href="#" onclick="OrdenarUsuariosPor(this);"><span class="glyphicon glyphicon-phone"></span><b>&ensp;Teléfono</b></a></li>
            </ul>
        </div>
        <button type="reset" class="BtnBorrar" onclick="TodosUsuarios();">BORRAR</button>
    }
    
</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<h2 id="UsersTitle">TELECON ERICKSON C.A - LISTA DE USUARIOS</h2>

<table class="TablaUsuarios" id="table-users-list">
    <tr>
        <td>Código</td>
        <td>Nombre de Usuario</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td style="border-bottom-style: solid; width: 15%; padding-top: 1em; padding-bottom: 0.5em; padding-left: 0;">Correo</td>
        <td style="padding-bottom: 0.5em; border-bottom-style: solid; border-top-style: none;">Teléfono</td>
        <th colspan="2" style="text-align: center;"><button id="BtnCrear" type="button" onclick="Crear();">CREAR USUARIO</button></th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.username</td>
        <td>@item.firstnames</td>
        <td>@item.lastnames</td>
        <td>@item.email</td>
        <td>@item.number</td>
        <td><button type="button" value="@item.ID" onclick="EditUser(this);">Editar</button></td>
        <td><button type="button" value="@item.ID" onclick="DeleteUser(this);">Borrar</button></td>
    </tr>
    }
</table>

<script type="text/javascript">

    function EditUser(buttonID) {
        window.location.href = "/es/admin/usuarios/editarusuario/" + buttonID.value;
    }
    function DeleteUser(buttonID) {
        window.location.href = "/es/admin/usuarios/eliminarusuario/" + buttonID.value;
    }

    function Validacion() {
        var e = document.getElementById('buscar_codigo').value;
        var name = document.getElementById('buscar_nombre').value;
        var userEmail = document.getElementById('buscar_correo').value.trim();
        var phoneNumber = document.getElementById('buscar_numero').value;

        var divtext = document.getElementById("validaciones-contenido");
        var timer = null, searchtimer = null;
        e.onpropertychange = e.oninput; // for IE8
        var re = new RegExp("^[0-9]+$");
        var letters = new RegExp("^[a-zA-Z ]*$");
        var validaciones = "";


        if (re.test(e) == false && e.trim() != "") {
            validaciones += "<p>El código solo puede contener números enteros.</p>";
            document.getElementById('buscar_codigo').value = "";
        }
        if (letters.test(name) == false && name.trim() != "") {
            validaciones += "<p>Los nombres y apellidos solo pueden contener letras y espacios.</p>";
            document.getElementById('buscar_nombre').value = "";
        }
        

        if (validaciones != "") {
            divtext.innerHTML = validaciones;

            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 2000); // <-- time in milliseconds
            return false;
        } else {
            window.clearTimeout(searchtimer);
            searchtimer = setTimeout(function () {
                if (e.trim() != "") return BuscarUsuarioID();
                if (name.trim() != "") return BuscarUsuarioNombres();
                if (userEmail != "") return BuscarUsuarioCorreo();
                if (phoneNumber != "") return BuscarUsuarioTelefono();
            }, 300); // <-- time in milliseconds
            
        }

    }
    
    document.getElementById("main-admin-button").style.visibility = "visible";
    document.getElementById("LoginButton").style.backgroundImage = 'url("/Style/Media/user-profile(1).png")';

    function Crear() {
        window.location.href = "/es/admin/usuarios/crearusuario";
    }

    function Español() {
          window.location.href = "/es/admin/usuarios";
    }

    function English() {
         window.location.href = "/en/admin/users";
    }

</script>


