@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - PRODUCTS ADMIN";
}

<p id="ProductsTitle">TELECON ERICKSON C.A - PRODUCTS ADMINISTRATION</p>
@using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="AdministracionProductos">
        <table class="TablaEditar" border="1">
            <tr>
                <td colspan="2"><p>PRODUCTS MANAGEMENT</p></td>
            </tr>
            <tr>
                <td>RAISE PRICES (%)</td>
                <td> @Html.TextBox("aumentar_precios", "", new { @id = "incremento", @class = "form-control", @value = "", maxlength = "4" })</td>
            </tr>
            <tr>
                <td>MAXIMUM PRICE</td>
                <td>@Html.TextBox("maximo", "", new { @id = "maximo", @class = "form-control", @value = "" })</td>
            </tr>
            <tr>
                <td>MINIMUM PRICE</td>
                <td>@Html.TextBox("minimo", "", new { @id = "minimo", @class = "form-control", @value = "" })</td>
            </tr>
            <tr>
                <td>ADD PRODUCTS</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>EDIT PRODUCTS</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>DELETE PRODUCTS</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
        </table>

        <button type="submit" id="ProductosAceptar" onclick="return ProductSettings();">ACCEPT</button>
        <button type="button" id="ProductosRegresar">RETURN</button>
        <button type="reset" id="ProductosBorrar">DEFAULT VALUES</button>
    </div>
}




    

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var timer = null;



    function ProductSettings() {

        // Datos del usuario
        var incremento = document.getElementById("incremento").value,
            maximo = document.getElementById("maximo").value.replace(',', '.'),
            minimo = document.getElementById("minimo").value.replace(',', '.');

        var divtext = document.getElementById("validaciones-contenido");
        var validaciones = "";
        var numeros = new RegExp("^[0-9]+$");
        var decimales = new RegExp("(?<=^| )\d+(\.\d+)?(?=$| )");


        if (maximo != "" && isNaN(parseFloat(maximo)) == false) document.getElementById("maximo").value = parseFloat(maximo).toFixed(2);
        if (minimo != "" && isNaN(parseFloat(minimo)) == false) document.getElementById("minimo").value = parseFloat(minimo).toFixed(2);

        if (incremento != "" && numeros.test(incremento) == false) {
            validaciones += "<p>The increasing prices field only allows numbers.</p>\n"
            document.getElementById("incremento").value = "";
        }
        if (incremento != "" && incremento <= 0) {
            validaciones += "<p>The increasing prices field only allows numbers over 0.</p>\n"
            document.getElementById("incremento").value = "";
        }

        if (maximo != "" && isNaN(maximo) == true) {
            validaciones += "<p>The maximum field only allows numbers.</p>\n"
            document.getElementById("maximo").value = "";
        }
        if (maximo != "" && maximo < 0) {
            validaciones += "<p>The maximum field does not allow negative numbers.</p>\n"
            document.getElementById("maximo").value = "";
        }

        if (minimo != "" && isNaN(minimo) == true) {
            validaciones += "<p>The minimum field only allows numbers.</p>\n"
            document.getElementById("minimo").value = "";
        }
        if (minimo != "" && minimo < 0) {
            validaciones += "<p>The minimum field does not allow negative numbers.</p>\n"
            document.getElementById("minimo").value = "";
        }




        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 5000); // <-- time in milliseconds
            return false;
        } else {
            return true;
        }


    }


    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');

    });

    $(function () {
        $("#ProductosRegresar").click(function () {
            window.location.href = "/en/admin";
        });
    });

    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/productos";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/products";
        });
    });

</script>


