@model IEnumerable<Telecon.Models.Product>
@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Eliminar Producto";
}





<body>


    <div class="PanelAgregarProducto">
        @using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <h2>Eliminar producto</h2><hr />

            <div id="load-main-img" class="ProductoImgPrincipal">

            </div>
            <table class="TablaImagenes" border="0">
                <tr>
                    <td>
                        <div id="load-second-imageA" class="ImgP2">

                        </div>
                    </td>
                    <td>
                        <div id="load-second-imageB" class="ImgP3">

                        </div>
                    </td>
                    <td>
                        <div id="load-second-imageC" class="ImgP4">

                        </div>
                    </td>
                </tr>
            </table>
            <div class="FormularioAProducto">
                <p>Seleccionar producto</p>
                <select id="selector-productos" onchange="LoadProductsListDelete(this); Botones();">
                    <option>Seleccionar</option>
                    @foreach (var item in Model)
                    {
                        <option id="@item.name" value="@item.name">@item.name</option>
                    }
                </select>
                <p>Nombre</p>
                <p id="nombre_producto" class="product-info" hidden></p>

                <p>Descripción</p>
                <p id="descripcion_producto" class="product-info" hidden>

                </p>
                <p>Precio</p>
                <p id="precio_producto" class="product-info" hidden></p>

            </div>

            <p id="parrafo-confirmacion" hidden>¿Esta seguro de que desea eliminar este producto?</p>
            <button type="button" id="boton-eliminar" onclick="return EliminarProducto();" hidden>Si</button>
            <button id="ResetBtn" type="reset" onclick="No();" hidden>No</button>
        }
    </div>

    <div id="validacion" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div id="validaciones-contenido" class="modal-body">


                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

</body>


<script type="text/javascript">

    function Botones() {
        var e = document.getElementById("selector-productos");
        var strUser = e.options[e.selectedIndex].text;
        if (strUser == "Seleccionar") {
            document.getElementById("boton-eliminar").style.display = "none";
            document.getElementById("parrafo-confirmacion").style.display = "none";
            document.getElementById("ResetBtn").style.display = "none";
            $('.product-info').css("display", "none");
            document.getElementById("load-main-img").style.backgroundImage = "none";
            document.getElementById("load-second-imageA").style.backgroundImage = "none";
            document.getElementById("load-second-imageB").style.backgroundImage = "none";
            document.getElementById("load-second-imageC").style.backgroundImage = "none";
        }
        else {
            document.getElementById("boton-eliminar").style.display = "inline";
            document.getElementById("parrafo-confirmacion").style.display = "inline-block";
            document.getElementById("ResetBtn").style.display = "inline";
            $('.product-info').css("display", "inline");
        }
    }

    function No() {
        document.getElementById("ResetBtn").click();
        document.getElementById("boton-eliminar").style.display = "none";
        document.getElementById("parrafo-confirmacion").style.display = "none";
        document.getElementById("ResetBtn").style.display = "none";
        $('.product-info').css("display", "none");
        document.getElementById("load-main-img").style.backgroundImage = "none";
        document.getElementById("load-second-imageA").style.backgroundImage = "none";
        document.getElementById("load-second-imageB").style.backgroundImage = "none";
        document.getElementById("load-second-imageC").style.backgroundImage = "none";
    }

    function Español() {
        window.location.href = "/es/producto/eliminar";
    }

    function English() {
        window.location.href = "/en/product/delete";
    }

</script>


