@model IEnumerable<Telecon.Models.Product>
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Available Items";
}

<body>


    <div id="DivProd">
        <p id="OrdenarProducto">Sort by</p>
        <div class="OrdenarPor">
            <table class="TablaOrdenar">
                <tr>
                    <th>Asc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Code
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Name
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Price
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Units
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
            </table>


            <table class="TablaOrdenarDesc">
                <tr>
                    <th>Desc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Code
                        <span class="caret"></span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Name
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Price
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Units
                        <span class="caret"></span>
                    </td>

                </tr>
            </table>


        </div>
    </div>

    <div class="ProductosDiv">
        <button id="AddProduct" onclick="return AddProduct();" type="submit"><span class="glyphicon glyphicon-plus"></span><br />Add Product</button>
        <button id="EditProduct" onclick="return EditProduct();" type="submit"><span class="glyphicon glyphicon-edit"></span><br />Edit Product</button>
        <button id="DeleteProduct" onclick="return DeleteProduct();" type="submit"><span class="glyphicon glyphicon-remove"></span><br />Delete Product</button>
    </div>



    <h2 id="ItemsTitle">AVAILABLE ITEMS</h2>

    <div class="ContenedorProductos">
        <table class="TablaProductos" border="0">
            <tr>
                @{
                    int counter = 1;
                    string fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 1)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 2)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 3)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 4)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 5)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 6)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 7)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 8)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 9)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 10)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 11)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 12)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

        </table>


    </div>

    <div class="contenedor-productos-full">
        <table class="tabla-productos-full" border="0">
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 1)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 2)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 3)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 4)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 5)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 6)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 7)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 8)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 9)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 10)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 11)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 12)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 13)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 14)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 15)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 16)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
        </table>
    </div>


    <div id="DivProdB">
        <p id="OrdenarProductoB">Sort by</p>
        <div class="OrdenarPor">
            <table class="TablaOrdenar">
                <tr>
                    <th>Asc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Code
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Name
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Price
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Units
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
            </table>


            <table class="TablaOrdenarDesc">
                <tr>
                    <th>Desc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Code
                        <span class="caret"></span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Name
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Price
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Units
                        <span class="caret"></span>
                    </td>

                </tr>
            </table>


        </div>
    </div>

    <div class="ProductosDivB">
        <button id="AddProduct" onclick="return AddProduct();" type="submit"><span class="glyphicon glyphicon-plus"></span><br />Add Product</button>
        <button id="EditProduct" onclick="return EditProduct();" type="submit"><span class="glyphicon glyphicon-edit"></span><br />Edit Product</button>
        <button id="DeleteProduct" onclick="return DeleteProduct();" type="submit"><span class="glyphicon glyphicon-remove"></span><br />Delete Product</button>
    </div>





</body>

<script type="text/javascript">

    function ProductInfo(id) {
        window.location.href = "/en/product/" + id.getAttribute('data-value');
    }

    function AddProduct() {
        window.location.href = '/en/product/add';
    }
    function EditProduct() {
        window.location.href = '/en/product/edit';
    }
    function DeleteProduct() {
        window.location.href = '/en/product/delete';
    }

    function Español() {
        window.location.href = "/es/productos/1";
    }

    function English() {
        window.location.href = "/en/products/1";
    }

</script>


