@model IEnumerable<Telecon.Models.Product>
@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Productos Disponibles";
}

<body>



    <div id="DivProd">
        <p id="OrdenarProducto">Ordenar por</p>
        <div class="OrdenarPor">
            <table class="TablaOrdenar">
                <tr>
                    <th>Asc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Código
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Nombre
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Precio
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Unidades
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
            </table>


            <table class="TablaOrdenarDesc">
                <tr>
                    <th>Desc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Código
                        <span class="caret"></span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Nombre
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Precio
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Unidades
                        <span class="caret"></span>
                    </td>

                </tr>
            </table>


        </div>
    </div>

    <div class="ProductosDiv">
        <button id="NuevoProducto" onclick="return NuevoProducto();" type="submit"><span class="glyphicon glyphicon-plus"></span><br />Nuevo Producto</button>
        <button id="ModificarProducto" onclick="return ModificarProducto();" type="submit"><span class="glyphicon glyphicon-edit"></span><br />Modificar Producto</button>
        <button id="EliminarProducto" onclick="return EliminarProducto();" type="submit"><span class="glyphicon glyphicon-remove"></span><br />Eliminar Producto</button>
    </div>


    <h2 id="ItemsTitle">ITEMS DISPONIBLES</h2>

    <div class="ContenedorProductos">
        <table class="TablaProductos" border="0">
            <tr>
                @{
                    int counter = 1;
                    string fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 1)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 2)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 3)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 4)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 5)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 6)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 7)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 8)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 9)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 10)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 11)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 12)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>

        </table>


    </div>

    <div class="contenedor-productos-full">
        <table class="tabla-productos-full" border="0">
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 1)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 2)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 3)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 4)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 5)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 6)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 7)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 8)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 9)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 10)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 11)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 12)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
            <tr>
                @{
                    counter = 1;
                    fileName = "";
                    foreach (var item in Model)
                    {
                        fileName = Path.GetFileName(item.mainImage);
                        if (counter == 13)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 14)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 15)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        if (counter == 16)
                        {
                            <td>
                                <div class="ProductoF" data-value="@item.ID" onclick="ProductInfo(this);">
                                    <div class="ImagenProducto" style='background-image: url("../../Style/Media/Product_Images/@fileName");'></div>
                                    <p class="PNombre">@item.name</p>
                                    <p class="PPrecio">@item.price.ToString("#,###.##") BsS</p>

                                </div>
                            </td>
                        }
                        counter++;
                    }
                }
            </tr>
        </table>
    </div>




    <div id="DivProdB">
        <p id="OrdenarProductoB">Ordenar por</p>
        <div class="OrdenarPor">
            <table class="TablaOrdenar">
                <tr>
                    <th>Asc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Código
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Nombre
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Precio
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Unidades
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                    </td>

                </tr>
            </table>


            <table class="TablaOrdenarDesc">
                <tr>
                    <th>Desc.</th>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-barcode"></span>
                        Código
                        <span class="caret"></span>


                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        Nombre
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span>
                        Precio
                        <span class="caret"></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Unidades
                        <span class="caret"></span>
                    </td>

                </tr>
            </table>


        </div>
    </div>

    <div class="ProductosDivB">
        <button id="NuevoProducto" onclick="return NuevoProducto();" type="submit"><span class="glyphicon glyphicon-plus"></span><br />Nuevo Producto</button>
        <button id="ModificarProducto" onclick="return ModificarProducto();" type="submit"><span class="glyphicon glyphicon-edit"></span><br />Modificar Producto</button>
        <button id="EliminarProducto" onclick="return EliminarProducto();" type="submit"><span class="glyphicon glyphicon-remove"></span><br />Eliminar Producto</button>
    </div>

</body>


<script type="text/javascript">

    function ProductInfo(id) {
        window.location.href = "/es/producto/" + id.getAttribute('data-value');
    }

    function NuevoProducto() {
        window.location.href = '/es/producto/agregar';
    }
    function ModificarProducto() {
        window.location.href = '/es/producto/modificar';
    }
    function EliminarProducto() {
        window.location.href = '/es/producto/eliminar';
    }

    function Español() {
        window.location.href = "/es/productos/1";
    }

    function English() {
        window.location.href = "/en/products/1";
    }

</script>


